{% extends "admin/cms/page/plugin_change_form.html" %}
{% load url from future %}
{% block extrahead %}
{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}admin/smartsnippet_inherit/js/plugininherit_form.js"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        SnippetVariablesEditor.init({
            static_url: "{{STATIC_URL}}",
            variables_module: "#overwritten_variables",
            urls: {
                variables: "{% url 'smartsnippets_inherit.views.variables_edit_view' plugin_id=plugin.id %}"
            },
            plugin_name: '{{plugin.get_plugin_name}}'
        });
    });
}(django.jQuery));
</script>
{% endblock %}

{% block extrastyle %}
{% if not adminform.form.use_ace_theme %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/smartsnippet_inherit/css/plugininherit_form.css">
{% endif %}
{{block.super}}
{% endblock %}


{% block after_related_objects %}{{block.super}}
    <div class="module" id='overwritten_variables'>
        <h2>Overwrite snippet variables</h2>
        {% spaceless %}
            {% if not add %}
                <div class="table tabbable tabs-left">
                    <ul class='snippets-list nav nav-tabs nav-stacked'>
                    {% for snippet_plugin in snippet_plugins %}
                        <li data-snippet='{{snippet_plugin.id}}'><a href="#">{{snippet_plugin}}</a></li>
                    {% empty %}
                        <p>No variables available.</p>
                    {% endfor %}
                    </ul>
                    <div class='variables-list tab-content bg-empty'></div>
                </div>
            {% else %}
                <p>You need to save before you can overwrite variables.</p>
            {% endif %}
        {% endspaceless %}
    </div>
{% endblock %}
