{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}
{% load url from future %}
{% load static from staticfiles %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript" src="{{ STATIC_URL}}admin/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}admin/js/codemirror/javascript.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}admin/js/codemirror/css.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}admin/js/codemirror/xml.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}admin/js/CMInstance.js"></script>

<script type="text/javascript" src="{{ STATIC_URL}}admin/js/codemirror/htmlmixed.js"></script>
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/codemirror.css' %}" />
{% endblock %}

{% block submit_buttons_bottom %}{% if read_only %}
<div class="submit-row form-actions text-right no-margin-bottom no-background">
    <a href="../" class="default btn btn-primary">Back to Smart Snippets</a>
</div>
{% else %}
    {% submit_row %}
{% endif %}
{% endblock %}

{% block submit_buttons_top %}{% if read_only %}
<div class="submit-row form-actions text-right no-margin-bottom no-background">
    <a href="../" class="default btn btn-primary">Back to Smart Snippets</a>
</div>
{% else %}
    {% submit_row %}
{% endif %}
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "smartsnippets/fieldset.html" %}
{% endfor %}
{% endblock %}
