{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "smartsnippets/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% if read_only %}
<div class="submit-row">
    <a style="float:right; padding:10px" href="../">Back to Templates</a>
</div>
{% else %}
    {% submit_row %}
{% endif %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
<script type="text/javascript">
    (function($) {

        var LayoutParser = {
            emptyContainer: function(container) {
                container.children('.inline-related ').each(function(i, item) {
                   if(!$(item).hasClass('empty-form'))
                        $(item).remove();
                });
            },

            getContainer: function(variablesHolderType) {
                var cx = null;
                $('.inline-group').each(function(i, item) {
                    if(variablesHolderType == 'standard') {
                        if($(item).children('h2')[0].innerText.toLowerCase() == 'standard variables') {
                            cx = $(item);
                            return;
                        }

                    } else if(variablesHolderType == 'select') {
                        if($(item).children('h2')[0].innerText.toLowerCase() == 'drop down variables') {
                            cx = $(item);
                            return;
                        }
                    }
                });

                return cx;
            },

            clickAddNewFieldStd: function(container) {
                var addNewFieldBtn = $(container).children('div.add-row').find('a');
                addNewFieldBtn.trigger('click');

                var addedField = $(container).children('.inline-related').last().prev();

                return addedField;
            },

            clickAddNewFieldSelect: function(container) {
                var addNewFieldBtn = $(container).children('div.add-row').find('a');
                addNewFieldBtn.trigger('click');

                var addedField = $(container).children('.inline-related').last().prev();

                return addedField;
            },

            addStdVar: function(varNameObj, container) {
                var fieldCx = this.clickAddNewFieldStd(container);
                $(fieldCx).find('input.vTextField')[0].value = varNameObj.varname;
                $(fieldCx).find('select')[0].value = varNameObj.type;
            },

            addSelectVar: function(varNameObj, container) {
                var fieldCx = this.clickAddNewFieldSelect(container);
                $(fieldCx).find('div.field-name').find('input.vTextField')[0].value = varNameObj.varname;
                $(fieldCx).find('div.field-choices').find('input.vTextField')[0].value = varNameObj.values;
            }
        };

        $(document).ready(function() {
           $('#id_template_code').bind('paste', function(e) {
               var el = $(this);
               setTimeout(function() {
                   var text = $(el).val();

                   var regex = /<!-- Variables([^>]*)-->/gi;
                   var variablesSnippet = regex.exec(text);
                   if(variablesSnippet) {
                        var lines = variablesSnippet[1].split('\n'); //split the input in multiple lines
                        var varNames = []; //hold the var names here

                       $.each(lines, function(index, line) {
                           if(line.replace(/^\s+|\s+$/,'').length > 0) {
                               var vObj = {};
                               var vDeclarationArr = line.split('=');
                               vObj.varname = vDeclarationArr[0].replace(/^\s+|\s+$/,'');

                               var type = vDeclarationArr[1].replace(/^\s+|\s+$/,'');
                               if(type.toLowerCase().indexOf('select') != -1) {
                                   var tmp = type.split('|');
                                   vObj.type = tmp[0].replace(/^\s+|\s+$/,'');
                                   vObj.values = vDeclarationArr[2].replace(/^\s+|\s+$/,'');
                               } else {
                                   vObj.type = vDeclarationArr[1].replace(/^\s+|\s+$/,'');
                               }

                               varNames.push(vObj);
                           }
                       });

                       if(varNames.length > 0) { //don't do any mumbo jumbo if we have no varnames

                           var stdContainer = LayoutParser.getContainer('standard');
                           var selectContainer = LayoutParser.getContainer('select');

                           LayoutParser.emptyContainer(stdContainer);
                           LayoutParser.emptyContainer(selectContainer);

                           $.each(varNames, function(i, vObj) {

                               if(vObj.type.toLowerCase() != 'select') {
                                   LayoutParser.addStdVar(vObj, stdContainer);
                               } else {
                                   LayoutParser.addSelectVar(vObj, selectContainer);
                               }

                           });
                       }
                   }
               }, 100);
           });
        });

    })(django.jQuery);
</script>
{% endblock %}
