{% load smartsnippets_tags %}
{% spaceless %}
{% for name in widgets|sortdict %}
    {% with widget_data=widgets|get_item:name %}
        {% if forloop.first %}<ul class='predefined-widgets'>{% endif %}
        <li data-widget='{{ widget_data.widget }}' data-resources='{{widget_data.resources}}' onclick="populateWidgetResources(this);" class="btn btn-white btn-primary btn-sm">{{ widget_data.title|default:name }}</li>
        {% if forloop.last %}</ul>{% endif %}
    {% endwith %}
{% empty %}
No widgets available.
{% endfor %}
{% endspaceless %}
