{% extends "smartsnippets/plugin_change_form.html" %}

{% block content_title %}
{% if original.snippet.documentation_link %}
    <a class="plugin-help-tooltip" href='{{original.snippet.documentation_link}}' target='_blank' title='{% if original.snippet.description %}{{original.snippet.description}}<br/><br/>{% endif %}Follow link to see documentation'><img src="{{STATIC_URL}}images/help.png"></a>
{% elif original.snippet.description %}
    <span class="plugin-help-tooltip" title='{{original.snippet.description}}'><img src="{{STATIC_URL}}images/help.png"></span>
{% endif %}
{{ block.super }}
{% endblock%}

{% block top %}
<div style="padding:10px; margin-bottom: 10px; border:1px solid #ccc">
<h3>Preview:</h3>
<hr/><br/>
{{ block.super }}
</div>
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
{% if variables %}
    <fieldset class="module">
        <h2>Smart Snippet Variables</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            {% include 'smartsnippets/variables_widgets.html'%}
            </tbody>
        </table>
    </fieldset>
{% endif %}

{% endblock %}
