{% extends "smartsnippets/plugin_change_form.html" %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            if (window.hasAceTheme == true) {
                $('.plugin-help-tooltip').remove();
            }
            else {
                $('.smartsnippet-description').remove();
            }
        });
    })(jQuery || django.jQuery);

    </script>
{% endblock %}

{% block content_title %}
{% if original.snippet.documentation_link %}
    <a class="plugin-help-tooltip" href='{{original.snippet.documentation_link}}' target='_blank' title='{% if original.snippet.description %}{{original.snippet.description}}<br/><br/>{% endif %}Follow link to see documentation'><img src="{{STATIC_URL}}images/help.png"></a>
{% elif original.snippet.description %}
    <span class="plugin-help-tooltip" title='{{original.snippet.description}}'><img src="{{STATIC_URL}}images/help.png"></span>
{% endif %}
{{ block.super }}
{% endblock%}

{% block top %}
<div style="padding:10px; margin-bottom: 10px; border:1px solid #ccc;overflow:hidden">
<h3>Preview:</h3>
<hr/><br/>
{{ block.super }}
</div>
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
<fieldset class="module">
    {% if original.snippet %}
    <div class="page-header no-border">
        <h2 class="smartsnippet-title">{{original.snippet|default:"Smart Snippet Variables"}}</h2>
        <div class="smartsnippet-description">
            {% if original.snippet.documentation_link %}
                <div class="form-group">
                    <p>{{ original.snippet.description|safe }}</p>
                    <p><a href="{{ original.snippet.documentation_link }}" target='_blank'><i class="ace-icon glyphicon glyphicon-link"></i> Follow link to see documentation</a></p>
                </div>
            {% elif original.snippet.description %}
                <div class="form-group"><p>{{ original.snippet.description|safe }}</p></div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if variables %}
    <table class="form-horizontal">
        <thead class="hide">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% include 'smartsnippets/variables_widgets.html'%}
        </tbody>
    </table>
    {% endif %}
</fieldset>

{% endblock %}

