include README.rst
recursive-include smartsnippets/templates *.html
recursive-include smartsnippets/tests *.html
recursive-include smartsnippets/static *
recursive-include smartsnippets_inherit/templates *.html
recursive-include smartsnippets_inherit/static *
