.smartsnippet-title {
	color: #abbac3;
	font-weight: 300;
	font-size: 32px;
}
.smartsnippet-description {
	font-size: 14px;
}
.smartsnippet-description p {
	white-space: pre-wrap;
}
table td.control-label {
	vertical-align: top;
}
.form-actions {
	background: none;
}
.form-actions .btn-info {
	min-width: 100px;
	margin-left: 8px;
}
.form-horizontal {
	width: 100%;
	max-width: 1000px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select { 
	color: black;
}