.inline-related {
    border: solid 1px #999;
}
.predefined-widgets li{
    list-style-type: none;
    padding: 3px;
    border: 1px solid #7CA0C7;
    cursor:pointer;
    border-left: none;
    border-right: none;
}