span.plugin-help-tooltip{
    cursor: help;
}
.plugin-help-tooltip{
    float: left;
    margin-right: 5px;
}
.plugin-help-tooltip img{
    border: 0;
    width: 20px;
    height: 20px;
}

#layout_help_popup{
    position: absolute;
    top:0;
    margin:0 auto;
}
