{% load smartsnippets_tags filertags %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorpicker/css/admin-form.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorpicker/css/colorpicker.css" />
<style>
    #preview{
        background: url({{ STATIC_URL }}colorpicker/images/preview_mock.png) no-repeat 0 0;
    }
    body.explorer.color-picker{
        background-image: url({{ '/_bento_media/img/bg-explorer-white.jpg'|filerfile }});
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
</style>
<script type="text/javascript" src="{{ STATIC_URL }}colorpicker/js/tinycolor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}colorpicker/js/admin-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}colorpicker/js/colorpicker.js"></script>


<tr id="color-picker-views" style="display:none">
  <td colspan="2" class="section-delimiter">
    <input class="snippet-varible" id="var_{{ field.name }}" type="hidden" name="_{{ field.name }}_" value="{{ field.value }}">
    <div id="step_1" class="view">
        <h1>Schema Creator</h1>
        <p>This snippet allows you to customize the look and feel of your site to personalize it to the user experince you wish to cultivate. You may choose your oen branded color or from a tailored selection of colors for your site. Either selection will allow an additional header image.</p>

        <h2>Step 1: Choose Profile Type</h2>
        <div class="content">
            <input type="radio" name="profile" value="custom" checked="checked"><span class="label">Custom</span>
            <p class="radio-help-text">Choosing this option will allow you to customize the colors and accents used on your site. It will <b>NOT</b> allow you to use the PBS Explorer overlay.</p>

            <input type="radio" name="profile" value="preselected"><span class="label">Pre-Selected Color Profiles</span>
            <p class="radio-help-text">Choosing this option will allow you to use the PBS Explorer overlay and other preset profiles.</p>
        </div>
        <div class="clear"></div>
        <div class="footer-view">
            <a href="javascript:void(0)" data-name="cancel" class="cancel">Undo</a>
            <input type="submit" name="next" class="next" value="Next"/>
        </div>
    </div>

    <div id="step_2_a" class="view">
        <h2>Step 2: Choose Colors</h2>
        <h3>Create Scheme</h3>
        <p>Use the slider to pick a color, or enter your pre-selected Hex Code into the field bellow. Once you have perfected your color scheme, choose your background color.</p>

        <div class="colors-placeholder">
            <div id="colorpickerHolder"></div>
            <div class="color">
                <div class="title">Main Color</div>
                <div class="title hex" data-name="main_color">#ffffff</div>
                <div id="c-base" class="output" style="background-color: #ffffff">&nbsp;</div>
            </div>
            <div class="color">
                <div class="title">Background</div>
                <div class="title hex" data-name="background">#ffffff</div>
                <div id="c-background" class="output" style="background-color: #ffffff">&nbsp;</div>
            </div>
            <div class="color">
                <div class="title">Button Color</div>
                <div class="title hex" data-name="button_color">#ffffff</div>
                <div id="c-accent1" class="output" style="background-color: #ffffff">&nbsp;</div>
            </div>
            <div class="color">
                <div class="title">Light Accent</div>
                <div class="title hex" data-name="light_accent">#ffffff</div>
                <div id="c-accent2" class="output" style="background-color: #ffffff">&nbsp;</div>
            </div>
            <div class="color last">
                <div class="title">Darker Accent</div>
                <div class="title hex" data-name="darker_accent">#ffffff</div>
                <div id="c-accent3" class="output" style="background-color: #ffffff">&nbsp;</div>
            </div>
        </div>

        <h3>Choose Background Color</h3>
        <p>You may choose to use a static white or gray background instead of the pre-selected background</p>
        <p>
            <select id="background">
                <option data-val="colorpicker">Use Color Picker Background</option>
                <option data-val="#ffffff">Use Static White Background</option>
                <option data-val="#efefef">Use Static Gray Background</option>
            </select>
        </p>
        
        <h3>Color Scheme Preview</h3>
        <p><input type="submit" value="Preview Color Scheme" name="preview" class="preview-btn"></p>

        <div class="clear"></div>
        <div class="footer-view">
            <a href="javascript:void(0)" data-name="cancel" class="cancel">Undo</a>
            <input type="submit" value="Back to Step One" name="reset" class="cancel-btn">
        </div>
    </div>

    <div id="step_2_b" class="view">
        <h2>Step 2: Choose Pre-Selected Profile</h2>
        <h3>Choose Color Scheme</h3>
        <p>Choose one of the pre-selected color schemes.</p>
        <div class="colors-placeholder">
            {% for scheme in preset_schemes %}
            <div class="scheme-container">
                <input type="radio" name="scheme" value="{{ scheme.base }}" {% if forloop.counter == 1%}checked="checked"{% endif %}>
                <div class="scheme">
                    {{ scheme.name }}
                    {% for key, val in scheme.iteritems %}
                        {% if key != "name" %}
                        <div class="row">
                            <div class="output" style="background-color:{{ val }}">&nbsp;</div>
                            <div class="title hex" data-name="{{ key }}">{{ val }}</div>
                            <div class="title">{{ key|underscore2space|title }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <h3>Optional Overlay</h3>
        <p>Using the preselected themes gives you the option to choose whether the PBS Explorer Brand Overlay appears on the background. If you would like to apply it to your site, check the box. If not, leave the box unchecked.</p>
        <p class="select-box-containre"><input type="checkbox" name="apply-overlay"><span class="label">Apply PBS Explorer Overlay</span></p>

        <h3>Color Scheme Preview</h3>
        <p><input type="submit" value="Preview Color Scheme" name="preview" class="preview-btn"></p>

        <div class="clear"></div>
        <div class="footer-view">
            <a href="javascript:void(0)" data-name="cancel" class="cancel">Undo</a>
            <input type="submit" value="Back to Step One" name="reset" class="cancel-btn">
        </div>
    </div>

  </td>
</tr>

