#overwritten_variables .table{
    display: table;
    width: 100%;
}

#overwritten_variables .variables-list{
    display: table-cell;
    width: 80%;
    vertical-align: top;
    background-color: #F0F3F8;
}

#overwritten_variables .variables-list.bg-empty{
    background-color: transparent;
}

#overwritten_variables ul.snippets-list{
    margin: 0px;
    padding: 0px;
    display: table-cell;
    width: 20%;
}

#overwritten_variables ul.snippets-list li{
    list-style-type: none;
    border: 1px solid #DEDEDC;
    padding: 5px;
    cursor: pointer;
    color: #5B80B2;
    background: none;
}

#overwritten_variables ul.snippets-list li:hover{
    color: #ffffff;
    background: #7CA0C7 url(../../img/default-bg.gif) top left repeat-x;
}
#overwritten_variables ul.snippets-list li.active{
    /*border-color: #5B80B2;*/
    border-right: 0px;
    font-weight: bold;
    background-color: #F0F3F8;
}
#overwritten_variables .ssvar-info {
    font-style: italic;
    font-weight: bold;
    color: #5b80b2;
}
#overwritten_variables .ssvar-info.alert-success{
    color: green;
}
#overwritten_variables .ssvar-info.alert-error{
    color: red;
}

#overwritten_variables .variables-list .submit-row{
    margin-right:8px;
    margin-left:8px;
}
