#container{
    visibility: hidden;
}

table{
    width:100%;
    height:100%;
}
.view{
    display: none;
}

.view .clear{
    clear: both;
}

.view p{
    margin-bottom:20px;
}

.view h1,
.view h2,
.view h3{
    margin-bottom: 10px;
}

.view .content{
    margin-left: 10px;
}

.view .footer-view{
    float: right;
    clear: right;
}
.view input[type="submit"]{
    margin-left:5px;
}

.view .colors-placeholder{
    margin-left:50px;
    margin-bottom:50px;
}

.view .colors-placeholder .color{
    display: inline-block;
    margin-right:10px;
    width:90px;
}

.view .colors-placeholder .color.last{
    margin-right:0;
}

.view .colors-placeholder .color .output{
    width: 50px;
    height:50px;
    border:1px solid #ccc;
}

.view #colorpickerHolder{
    margin-bottom:20px;

}

.view #background{
    margin-left:50px;
}

.view .scheme-container,
.view .scheme{
    display:inline-block;
    vertical-align: top;
}

.view .scheme{
    border: 1px solid #ccc;
    padding:5px;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
}

.view .row{
    margin-top: 5px;
}

.view .label{
    cursor:pointer;
    margin-left:5px;
}

.view .row div{
    display: inline-block;
    margin-right:5px;
}

.view .row div.output{
    width: 20px;
    height: 20px;
    border:1px solid #ccc;
}

.view .row div.hex{
    width: 70px;
}

.view input[name="apply-overlay"]{
    margin-right:5px;
    
}

.view .select-box-containre{
    margin-left:50px;
    margin-bottom:50px;
    white-space: nowrap;
}

.view input[type=submit].default{
    float: none;
}

.view .preview-btn[name="preview"]{
    margin-left:50px;
}

/* PREVIEW */

#preview{
    width: 1450px;
    height:1972px;
}

#preview *{
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#preview #top-stripe{
    width: 100%;
    height: 7px;
    top: 30px;
}

#preview #menu-btn{
    left: 245px;
    top: 197px;
    width: 67px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

#preview #menu-stripe{
    top: 241px;
    width: 100%;
    height: 5px;
}

#preview .title{
    top: 786px;
    height: 30px;
    width:200px;
    left: 976px;
    background: #FFF;
    font-size: 18px;
}

#preview .read-blog{
    top: 838px;
    left: 910px;
    background: #FFF;
    font-size: 13px;
}

#preview #footer-stripe{
    top: 1695px;
    height: 9px;
    width: 100%;
}

#preview #copyright{
    top: 1899px;
    width: 100%;
    height: 75px;
    padding: 0 267px;
    line-height: 75px;
    color: #fff;
    font-size: 14px;
}

