{% spaceless %}
<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/flexible-footer-field.css">
<script src="{{ STATIC_URL }}flexiblefooter/js/footer.js"></script>
<script>
  var filer_image_url = "{% url cmsplugin_image.views.get_file %}";
</script>

<tr class="section_{{ field.name }}">
  <td colspan="2" class="section-delimiter">
    <input class="snippet-varible" id="var_{{ field.name }}" type="hidden" name="_{{ field.name }}_" value="{{ field.value }}">
    <fieldset class="module details">
      <h2>Details</h2>
      <table>
      {% for key, val in footer.details.iteritems %}
        <tr>
          <td class="label"><label for="{{key}}">{{key|capfirst}}</label></td>
          {% if key == 'logo' %}
            <td>

              <input id="{{key}}" type="text" name="{{key}}" value="{{val}}" size="100" class="subvar hidden">
              <img src="{{val}}" width="30" height="30">
              <a href="{% url admin:filer_folder_changelist %}"
                 class="related-lookup"
                 id="lookup_id_image"
                 title="Lookup"
                 onclick="return showRelatedObjectLookupPopupImgField(this, '{{key}}');">
                <img src="{{ STATIC_URL }}admin/img/icon_searchbox.png" alt="Lookup" height="16" width="16"></a>
              <br >
            </td>
          {% else %}
            {% if key == 'address'%}
              <td><textarea class="subvar" id="{{key}}" name="{{key}}" type="text" cols="70">{{val}}</textarea></td>
            {% else %}
              <td><input class="subvar" id="{{key}}" name="{{key}}" value="{{val}}" type="text" size="100"></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
        
      </table>
    </fieldset>
    <fieldset class="module links">
      <h2>Links</h2>
      <table>
       <tr>
          {% for col in footer.links %}
          <td class="link-column">
            <table class="column">
              <tr>
                <td class="header">
                  <p>Header {{ forloop.counter }}</p>
                  <label for="header_text_{{ forloop.counter }}">Text</label>
                  <input value="{{ col.header.text }}" class="subvar text" id="header_text_{{ forloop.counter }}" type="text" size="50">
                  <div class="clear"></div>
                  <label for="header_link_{{ forloop.counter }}">URL</label>
                  <input value="{{ col.header.url }}" class="subvar url" id="header_link_{{ forloop.counter }}" type="text" size="50">
                </td>
              </tr>
              {% with  forloop.counter as column%}
                {% for link in col.column_links %}
                <tr class="link">
                  <td colspan="2">
                    <p>Link {{forloop.counter}}</p>
                    <label for="text_{{column}}_{{forloop.counter}}">Text</label>
                    <input value="{{link.text}}" name="text_{{column}}_{{forloop.counter}}" class="text subvar" id="text_{{column}}_{{forloop.counter}}" type="text" size="50">
                    <div class="clear"></div>
                    <label for="link_{{column}}_{{forloop.counter}}">URL</label>
                    <input value="{{link.url}}" name="link_{{column}}_{{forloop.counter}}" class="url subvar" id="link_{{column}}_{{forloop.counter}}" type="text" size="50">
                  </td>
                </tr>
                {% endfor %}
              {% endwith %}
                <tr>
                  <td colspan="2"><span class="addlink">Add Link</span></td>
                </tr>
            </table>
          </td>
          {% endfor %}
        </tr>
      </table>
    </filedset>
    <fieldset class="module">
      <h2>Copyright</h2>
      <table>
       <tr>
          <td class="label">
            <label for="copyright">Text</label>
          </td>
          <td><textarea name="copyright"class="subvar" id="copyright" type="text" cols="70">{{ footer.copyright }}</textarea></td>
        </tr>
      </table>
    </filedset>

  </td>
</tr>

{% endspaceless %}

