<tr>
    <td><label for="var_{{ field.name }}">{{ field.name }}</label></td>
    <td>
        <select id="var_{{ field.name }}" name="_{{ field.name }}_">
            <option value="">---------</option>
            {% for value in field.snippet_variable.dropdownvariable.choices_list %}
                <option {% if value == field.value %} selected="selected" {% endif %} value="{{ value }}" >{{ value }}</option>
            {% endfor %}
        </select>
        {% if field.name == "layout" %}
            <a id="{{ field.name }}_help_button" class="plugin-help-tooltip" style='float:none;font-size:17px' href='javascript:void(0)' target='_blank' title='Click link to see available layouts'>
                <img src="{{STATIC_URL}}images/help.png">
            </a>
        {% endif %}
    </td>
</tr>